<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block</title>
    <style>
        @font-face {
    font-family: Adero;
    src: url(/assets/fonts/AderoTrial-Regular.otf);
}
        body{
            background-color: #c32828;
            margin-top: 200px;
            text-align: center;
        }
        h1{
            font-family: Adero;
        }

        div{
            display: grid;
            background: #f0f0f0;
            border-radius: 50px;
        }
    </style>
</head>
<body>
    <div><h1>CAJERO BLOQUEADO</h1></div>
</body>
</html>