@font-face {
    font-family: Adero;
    src: url(/assets/fonts/AderoTrial-Regular.otf);
}

@font-face {
    font-family: Mulish;
    src: url(/assets/fonts/Mulish-Regular.ttf);
}

body {
    background: linear-gradient( #f0f0f0, #8d8d8c);
    text-align: center;
    display: flex;
    justify-content: center;
    height: 97.5vh;
}

.container {
    margin-top: 20px;
    width: 500px;
    height: 650px;
    padding: 20px;
    background-color: #99eb46;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px #d1d1d0;
}

.title{
    margin-top: 30px;
    font-family: Adero;
    font-size: 15x;
}


.button{
    margin-top: 20px;
    font-family: Mulish;
    font-size: 20px;
    padding: 20px;
    border: solid #f02f66;
    border-radius: 20px;
    background-color: none;
    box-shadow: 0px 5px 0px 1px grey;
}

.button:active{
    box-shadow: none;
    transform: translateY(3px);
}

.button:hover{
    cursor: pointer;
}

.div-span{
    margin-top: 50px;

}

span{
    padding: 15px;
    background-color: #f0f0f0;
    border: solid rgb(240, 47, 102);
    border-radius: 50px;
    background-color: none;
    box-shadow: inset 1px 1px 1px 2px grey;
    font-family: Mulish;
    font-size: x-large;
    font-weight: bold;
}
