@font-face {
    font-family: Adero;
    src: url(/assets/fonts/AderoTrial-Regular.otf);
}

@font-face {
    font-family: Mulish;
    src: url(/assets/fonts/Mulish-Regular.ttf);
}

body {
    background: radial-gradient(#f0f0f0, #747474);
    text-align: center;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 30px;
    width: 500px;
    padding: 20px;
    background-color: #99eb46;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 20px #99eb46;
}

.title{
    margin-top: 30px;
    font-family: Adero;
    font-size: 15x;
}


.button{
    margin-top: 20px;
    font-family: Mulish;
    font-size: 20px;
    padding: 20px;
    border: solid #f02f66;
    border-radius: 50px;
    background-color: none;
    box-shadow: inset 1px 1px 1px 2px grey;
}

.button:active{
    border: solid rgb(39, 39, 39);
    color:#f02f66 ;
}

.button:hover{
    cursor: pointer;
}

.div-span{
    margin-top: 50px;

}

span{
    padding: 15px;
    background-color: #f0f0f0;
    border: solid rgb(240, 47, 102);
    border-radius: 50px;
    background-color: none;
    box-shadow: inset 1px 1px 1px 2px grey;
    font-family: Mulish;
    font-size: x-large;
    font-weight: bold;
}
